.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  padding: 20px;
  background-color: black;
  min-height: 100vh;
}



.App-header  {
  font-size: 2.5rem;
  color: #00eaff;
  margin-bottom: 20px;
}

main {
  margin-top: 40px;
}

.loading-spinner {
  margin: 20px auto;
  font-size: 18px;
  color: #333;
  text-align: center;
  font-weight: bold;
}

